header {
  grid-area: header;
  justify-items: end;
}

.search {
  grid-area: main;
  justify-items: center;

}

.location {
  grid-area: where;
  row-height: 40px;
}

.foot-1 {
  grid-area: footer1;
}

.foot {
  grid-area: footer2;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 400px 30px 30px;
  grid-template-areas: 
    "header header"
    "main main "
    "where where" 
    "footer1 footer2";
}

.gb_wc {
	background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
	background-size: 528px 68px;
}
